<h3>User Name: <%= @user.username %></h2>

<span>First Name: <%= @user.first_name %></span>
<br>
<span>Last Name: <%= @user.last_name %></span> 
<br>
<span>Zip Code: <%= @user.zip %></span> 
<br>
<span>Bio: <%= @user.bio %></span> 
<br>
<span><%= edit_profile_link %></span>