<% content_for :title, "View All Products" %>

<!--This will show the specific user's products-->
<%= all_products_content %>

<%= form_tag '/products/search', :class => "form-search", :remote => true do %>
 <%= text_field_tag 'query' %>
<% end %>

<div id="all-products" class="row">
<h3>All Products</h3>
<!--This will show all products. We need to change it so that it doesn't show the current user's products.-->
	<% @all_products.each do |product| %>
		<div class="span3 individual-product" style="background: url(<%= product.photo %>)">
			<span class="name"><%= link_to truncate(product.name, :length => 25, :separator => ' '), product %></span>
			<div class="product-overlay">
				<span class="user">From: <%= User.find(product.user_id).username %></span>
				<p class="description"><%= product.description %></p>
			</div>
		</div>
	<% end %>
<%= paginate @all_products %>
</div>

